NODE_ENV=development
# Server Configuration
PORT=3001
SWAGGER_PATH=/

# Email Service Configuration
RESEND_API_KEY=re_XXXXXXXX_XXXXXXXXXXXXXXXXXXXXXXXX
CONTACT_EMAIL=example@mail.com
FROM_DOMAIN=mail.com
